* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  space {
    display: inline-block;
    margin-right: 4px;
  }
  
  body {
    min-height: 100vh;
    color: white;
    background-color: #9E7CD7;
    font-family: "Modak", system-ui;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 4px;
    position: relative;
  }
  
  .dont {
    position: relative;
    animation: slideDown 1s ease-in;
  }

  .forget {
    position: relative;
    animation: slideUp 1.5s ease-in;
  }

  .to1 {
    position: relative;
    animation: slideDown 2s ease-in;
  }

  .kiss {
    position: relative;
    animation: slideUp 2.5s ease-in;
  }

  .me1 {
    position: relative;
    animation: slideDown 3s ease-in;
  }

  .or {
    position: relative;
    animation: slideUp 3.3s ease-in;
  }

  .else {
    position: relative;
    animation: slideDown 4s ease-in;
  }

  .youll {
    position: relative;
    animation: slideUp 4.3s ease-in;
  }

  .have1 {
    position: relative;
    animation: slideDown 4.7s ease-in;
  }

  .to2 {
    position: relative;
    animation: slideUp 5s ease-in;
  }

  .miss {
    position: relative;
    animation: slideDown 5.3s ease-in;
  }

  .me2 {
    position: relative;
    animation: slideUp 5.9s ease-in;
    text-decoration: none;
    color: #FFb6C1;
  }
  
  

  @keyframes slideDown {
    from {
     top: -100vh;
     opacity: 0; 
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      top: 100vh;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  
  
  