@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
body {
  font-family: 'Amatic SC', sans-serif;
  font-size: 100px;
}
.test {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
          animation: squiggly-anim 0.34s linear infinite;
}
body {
  line-height: 100vh;
  background: #AFD6E5;
  color: #fff;
}

.restart {
  position: fixed;
    top: 20%;
    right: 320px;
    opacity: 0;
    animation: fadeIn 1s ease-in 7.3s forwards;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px; /*I don't why most of my restart class is not working, I tried puttin the class on line 17 and 43, neither worked*/
}

.test {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  outline: none;
  text-align: center;
  line-height: 1;
}
.small {
  font-size: 0.5em;
}
.smaller {
  font-size: 0.4em;
}
p {
  margin: 0;
}
@-webkit-keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(2);
  }
}


/*entirety of this css page was by Lucas Bebber, outside of me changing the background color. Link to his work can be seen in the readme file.